md-dialog(aria-label="Thank you for signing up")
	form(name="infoForm")
		md-toolbar
			.md-toolbar-tools
				h2 Update Password
				span(flex)
				md-button.md-icon-button(ng-click="cancel()")
					md-icon.icon-white(md-svg-src="public/shared/img/icons/close.svg" aria-label="Close dialog")

		md-dialog-content
			form(name="passwordForm")
				md-input-container.md-block
					md-icon.icon-black(md-svg-src="public/shared/img/icons/lock.svg")
					input(required type="password" ng-model="currentPassword" name="currentPassword" placeholder="Current Password" ng-keypress="keyPressed($event)")

				md-input-container.md-block
					md-icon.icon-black(md-svg-src="public/shared/img/icons/lock.svg")
					input(required type="password" ng-model="newPassword" name="newPassword" placeholder="New Password" ng-keypress="keyPressed($event)")
				
				md-input-container.md-block
					md-icon.icon-black(md-svg-src="public/shared/img/icons/lock.svg")
					input(required type="password" name="passwordConfirm" ng-model="passwordConfirm" placeholder="Confirm Password" ng-pattern="{{password}}" ng-keypress="keyPressed($event)")
					div(ng-messages="passwordForm.passwordConfirm.$error" role="alert")
						div(ng-message-exp="['required', 'pattern']") Password and password confirmation do not match.
				
				md-input-container.md-block
					md-button.full-width.md-primary.md-raised(ng-disabled="password.length < 1 || password.length < 1 || passwordConfirm.length < 1" ng-click="updatePassword($event)") Update Password
			

		md-dialog-actions(layout="row")
			span(flex)
			//-md-button.md-primary.md-raised(ng-click="okay()") Okay
			//-md-button(ng-click="cancel()") Cancel