md-dialog(aria-label="Report User")
	md-toolbar
		div.md-toolbar-tools
			h2 Report User
			span(flex)
			md-button.md-icon-button(ng-click="cancel()")
				md-icon.icon-white(md-svg-src="public/shared/img/icons/close.svg" aria-label="Close dialog")

	form(name="reportForm")
		md-dialog-content.padding-standard
			p Please provide the reason you are reporting this user and a description of why you are reporting them.
			
			div(layout="row" layout-align="space-around")
				md-progress-circular(ng-show="!reasons || reasons.length === 0" md-mode="indeterminate")
			
			md-radio-group(ng-model="selectedReason")
				md-radio-button.md-primary(ng-repeat="reason in reasons" value="{{reason}}") {{reason}}
			
			md-input-container.md-icon-float.md-block
				//-md-icon.icon-black(md-svg-src="public/shared/img/icons/email.svg")
				input(type="text" name="description" ng-model="description" placeholder="Description")

		md-dialog-actions(layout="row")
			span(flex)
			md-button.md-primary.md-raised(ng-click="reportUser()" ng-disabled="reasons.length <= 0") Send Report
			md-button(ng-click="cancel()") Cancel