md-dialog(aria-label="Crop Photo")
	form(name="cropForm")
		md-toolbar
			.md-toolbar-tools
				h2 Crop Image
				span(flex)
				md-button.md-icon-button(ng-click="cancel()")
					md-icon.icon-white(md-svg-src="public/shared/img/icons/close.svg" aria-label="Close dialog")

		md-dialog-content
			.cropArea
				img-crop(image="myImage" result-image="myCroppedImage")
				

		md-dialog-actions(layout="row")
			span(flex)
			md-button.md-primary.md-raised(ng-click="cropImage()") Crop
			md-button(ng-click="cancel()") Cancel