include ../../mixins/toolbar.jade

.full-content(layout="column" ng-cloak flex)
	+toolbar('Dedications', "vm.sidenavRightButtonClicked()", "public/shared/img/icons/search.svg")
	div(layout='row')
		div(layout='column')
			include ../../partials/left-side-nav.jade
		div(layout='column' flex)
			md-content
				.padding-standard(ng-show="vm.dedications.length === 0 && vm.lastSearchText.length === 0")
					p No dedications have been made yet.
					md-button.md-raised(ui-sref="donate-detail") Find out how to make a dedication

				.padding-standard(ng-show="vm.dedications.length === 0 && vm.lastSearchText.length > 0")
					p Could not find dedications for '{{vm.lastSearchText}}'.

				md-list
					md-list-item(ng-repeat="dedication in vm.dedications" layout='row')
						span(flex='5')
						.shadow.chat-bubble-sent(flex='90')
							.chat-banner(layout="row")
								img.md-avatar.shadow.raise.margin-left-sm(avatar-src="{{dedication.image}}" style="margin-top: 5px; margin-bottom: 0px;")
								b.chat-name {{dedication.to}}	
							.chat-message
								p.padding-standard(ng-bind-html="dedication.text | characters: 500: true | html")
								br
								div(layout="row")
									md-button.md-raised(ui-sref="dedication-detail({dedicationId: dedication._id})") Continue Reading
									span(flex)
						span(flex='5')
		include ./partials/right-side-nav.jade