include ../../mixins/toolbar.jade

md-content.full-content(layout="column" ng-cloak flex)
	+toolbar("Create Dedication")
	md-content(layout='row')
		div(layout='column')
			include ../../partials/left-side-nav.jade
		#content(layout='column' flex)
			md-content
				form.padded-form(name="createForm")
					md-input-container.md-block
						input(required type="text" ng-model="vm.to" placeholder="Name of dedication")

					md-card.mw100
						h3 Photo
						input#dedication-photo(type="file" fileread="vm.dedicationPhoto")
						img(dedication-src="{{vm.dedicationPhoto}}" ng-show="vm.dedicationPhoto")

					.text-angular-holder
						text-angular-toolbar(name="toolbar" ta-toolbar-group-class="toolbar-button-group" ta-toolbar-button-class="md-button toolbar-button" ta-toolbar-button-active-class="toolbar-button-active" ta-toolbar="[['h1','h2','h3', 'p'],['bold','italics', 'underline'], ['ul', 'ol'], ['justifyLeft', 'justifyCenter', 'justifyRight']]")
						text-angular(ng-model="vm.text" ta-target-toolbars="toolbar")


					br
					md-button.md-primary.md-raised(ng-click="vm.createDedication()") Create Dedication