include ../../mixins/toolbar.jade

.full-content(layout="column" ng-cloak flex)
	+toolbar('Dedication - {{vm.dedication.to}}')
	div(layout='row')
		div(layout='column')
			include ../../partials/left-side-nav.jade
		div(layout='column' flex)
			md-content
				md-card
					.mw100.full-width
						img(src="{{vm.dedication.image}}")
						//-h3 {{vm.dedication.to}}
						p.padding-standard(ng-bind-html="vm.dedication.text | html")