doctype html

html
	head
		base(href='/')
		meta(charset='utf8')
		title Bring peace to your life and to your lungs | DFW dive yoga
		link(rel="icon" href="/assets/img/favicon.ico" type="image/x-icon")
		
		//SEO
		meta(name="author" content="Reid Mulkey <reid@ineedtotalk.org>")
		//-meta(name="description" content="Bring peace to your life and to your lungs. With DFW dive yoga, you can enhance your calm and oneness with the water.")
		meta(name="keywords" content="Yoga, Diving, Scuba, Underwater, Namaste")

		meta(name="application-name" content="Demo-blog")
		//-meta(name="url" content="")
		meta(name="rating" content="General")
	
		//-mobile site configuration
		meta(name="HandheldFriendly" content="true")
		meta(name="apple-mobile-web-app-capable" content="yes")
		meta(name="apple-mobile-web-app-status-bar-style" content="default")
		meta(name="viewport" content = "width = device-width, initial-scale = 1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable = no")

		link(rel='stylesheet', href='/assets/css/app.css')
		link(rel='stylesheet', href='/assets/css/lib.css')
		
	body
		block body

		script(src='/assets/js/lib.js')
		script(src='/assets/js/app.js')