extends ../layout.jade

block body
	include ../partials/header.jade
	include ../partials/jumbotron.jade

	.container
		.row
			.col-lg-8.col-lg-offset-2.col-md-10.col-md-offset-1
				p View our most popular articles.
				ul#popularTabs.nav.nav-tabs
					li.active(role="presentation")
						a(aria-controls="mostViewed" role="tab" data-toggle="tab" href="/popular#mostViewed") Most Viewed
					li(role="presentation")
						a(aria-controls="mostCommented" role="tab" data-toggle="tab" href="/popular#mostCommented") Most Commented
					li(role="presentation")
						a(aria-controls="mostShared" role="tab" data-toggle="tab" href="/popular#mostShared") Most Shared

				.tab-content#popularTabContent
					.tab-pane.active#mostViewed(role="tabpanel")
						.row
							.col-xs-4 Views
							.col-xs-4 Name
							.col-xs-4 Date
						hr.no-padding

						.row
							.col-xs-4 50,000
							.col-xs-4 
								a(href='/') Now offering new experimental classes
							.col-xs-4 2014-10-02
						hr

						.row
							.col-xs-4 49,000
							.col-xs-4 
								a(href='/') Getting deeper into dolphin pose
							.col-xs-4 2014-09-24
						hr

						.row
							.col-xs-4 48,000
							.col-xs-4 
								a(href='/') 10 ways to keep your cool in -20C salt water
							.col-xs-4 2014-09-18
						hr

						.row
							.col-xs-4 47,000
							.col-xs-4 
								a(href='/') Location update: White Rock Lake
							.col-xs-4 2014-08-24
						hr

						.row
							.col-xs-4 46,000
							.col-xs-4 
								a(href='/') Introduction to Dive Yoga
							.col-xs-4 2014-07-08
						hr

					.tab-pane#mostCommented(role="tabpanel")
						.row
							.col-xs-4 Comments
							.col-xs-4 Name
							.col-xs-4 Date
						hr.no-padding

						.row
							.col-xs-4 73,000
							.col-xs-4 
								a(href='/') 10 ways to keep your cool in -20C salt water
							.col-xs-4 2014-09-18
						hr

						.row
							.col-xs-4 50,000
							.col-xs-4 
								a(href='/') Now offering new experimental classes
							.col-xs-4 2014-10-02
						hr

						.row
							.col-xs-4 49,001
							.col-xs-4 
								a(href='/') Location update: White Rock Lake
							.col-xs-4 2014-08-24
						hr

						.row
							.col-xs-4 49,000
							.col-xs-4 
								a(href='/') Getting deeper into dolphin pose
							.col-xs-4 2014-09-24
						hr

						.row
							.col-xs-4 46,000
							.col-xs-4 
								a(href='/') Introduction to Dive Yoga
							.col-xs-4 2014-07-08
						hr

					.tab-pane#mostShared(role="tabpanel")
						.row
							.col-xs-4 Shares
							.col-xs-4 Name
							.col-xs-4 Date
						hr.no-padding

						.row
							.col-xs-4 103,000
							.col-xs-4 
								a(href='/') Introduction to Dive Yoga
							.col-xs-4 2014-07-08
						hr

						.row
							.col-xs-4 84,000
							.col-xs-4 
								a(href='/') Now offering new experimental classes
							.col-xs-4 2014-10-02
						hr

						.row
							.col-xs-4 73,000
							.col-xs-4 
								a(href='/') 10 ways to keep your cool in -20C salt water
							.col-xs-4 2014-09-18
						hr

						.row
							.col-xs-4 49,001
							.col-xs-4 
								a(href='/') Location update: White Rock Lake
							.col-xs-4 2014-08-24
						hr

						.row
							.col-xs-4 49,000
							.col-xs-4 
								a(href='/') Getting deeper into dolphin pose
							.col-xs-4 2014-09-24
						hr						

	include ../partials/footer.jade