//This should be unecessary now
//-md-dialog(aria-label="Support Group Guidelines")
	md-toolbar
		.md-toolbar-tools
			h2 Support Group Guidelines

	md-dialog-content
		.padded-form
			p To ensure this is a community that is beneficial for everyone to share and grow, we ask that you follow certain guidelines.&nbsp;
				b If at any point you observe someone acting against these guidelines, please report them for misconduct.

			md-divider

			h3 This is not for emergency purposes
			p This site should be solely for recovery. In the event of an emergency, you can view a list of available hotlines in the "Resources" tab of the support groups page. A future task we plan to add to the site is a database of local resources and shelters. If this is something you are interested in, please fill out the survey on the "Feedback" page.
			br

			h3 No malicious conduct
			p If someone is speaking strictly out of malice or trying to create discord, please report and then block them. The process of reviewing reports has been streamlined for resolving malicious conduct reports.&nbsp;
				b Malicious conduct will not be tolerated, and will result in a permanent ban from ineedtotalk.org.
			br

			h3 We are not medical professionals
			p And even if someone is, that is not why we are here. We should keep medical dialogue to a minimum. This includes not only diagnoses but conversations about prescription medication or dosages.
			br

			h3 We all hold different beliefs
			p And do not let this fact interfere with the conversation. Your personal beliefs might be an important part of your recovery, but this is not platform for informing others of your views on religion, politics, etc. If you would like to share this information, you may do so on your profile page.  
			br

			h3 Share to your own level
			p If you find it stressful to share your own experiences, then don't. You can gain just as much from others sharing. You should never feel pressured to share. This also means you should allow others the space to share.
			br

			h3 We are all here to heal
			p This means refrain from excess off-topic communication. Sometimes venturing off topic can help increase comradery in the conversation, but that is not the primary purpose of these support groups. If you notice the conversation has ventured too far off-topic, try to refocus the group.
			br

	md-dialog-actions(layout="row")
		md-checkbox.vert-align(ng-model="userAgreed" aria-label="agree")
			p I agree to adhere to these guidelines.
		span(flex)
		md-button.md-primary.md-raised(ng-click="okay()" ng-disabled="!userAgreed") Accept