include ../../mixins/toolbar.jade

.full-content(layout="column" ng-cloak flex)
	+toolbar('About')
	div(layout='row')
		div(layout='column')
			include ../../partials/left-side-nav.jade
		div(layout='column' flex)
			md-content
				h1 About
					p Coming soon!