include ../../mixins/toolbar.jade

md-content.full-content(layout="column" flex)
	+toolbar("Donate")
	md-content(layout='row')
		div(layout='column')
			include ../../partials/left-side-nav.jade
		content(layout='column' flex)
			md-content


				.padding-standard
					h2 Donation Impact

					p ineedtotalk.org provides free support group services to anyone in the world. However, there are a lot of moving pieces involved, ranging from server uptime, to encryption costs, to content creation, and graphic design.

					p Your donation will go towards sustaining our support group services, and allow the business to expand. Future plans include:

					ul
						li iOS and Android applications
						li A database for local crisis centers and shelters
						li Private messaging
						li Audio/video integration
						li Case work services
						li Mobile crisis units
						li Internationalization

					h2 Ways to give

					h3 Memorials
					p Donations may be pledged as a tribute to a loved one in memory of to tribute survivorship.


					input(type="number" ng-model="vm.donationAmount")

					form(action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post" target="_top")
						input(type="hidden" name="cmd" value="_s-xclick")
						input(type="hidden" name="hosted_button_id" value="6EN5DRD69P3XS")
						input(type="image" src="https://www.sandbox.paypal.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!")
						img(alt="" border="0" src="https://www.sandbox.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1")

					//-form(action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top")
						input(type="hidden" name="cmd" value="_s-xclick")
						input(type="hidden" name="encrypted" value="-----BEGIN PKCS7-----MIIHNwYJKoZIhvcNAQcEoIIHKDCCByQCAQExggEwMIIBLAIBADCBlDCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20CAQAwDQYJKoZIhvcNAQEBBQAEgYACC7h0NuIaAn6Xx/kYrBAf/VHIHhHHAyWvdmEGzIOX721U+XW/DYUm7ho1DMrZNMgznPX5c0Vj6giFHbQaePQPWs3RehK4kSkYxl88yFDxb8cHOIv0RL7R6d1cg75+Mwx0ol6MijtARG7j9TKoeKCoXfWgfzO9ap82WTjnxeRvQjELMAkGBSsOAwIaBQAwgbQGCSqGSIb3DQEHATAUBggqhkiG9w0DBwQIilGYfy9CZeaAgZAXCFCK26LBU65CI4RNb9rJxo56nEodIKsEZfd3YoOdxL+fsiiRTY/CNttHkKxsT39RP5KdpxPWgWlItec9AtY2eI7lDggYmlQu0zHtyKDQmafM33pRYPWa4sUF/CBfossqYiXgliMaSF4pAaWCGIxUB2MoPAMLx1vTLWOJK/8UZPnLwDbkPANZ69yu2QeMpbagggOHMIIDgzCCAuygAwIBAgIBADANBgkqhkiG9w0BAQUFADCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20wHhcNMDQwMjEzMTAxMzE1WhcNMzUwMjEzMTAxMzE1WjCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20wgZ8wDQYJKoZIhvcNAQEBBQADgY0AMIGJAoGBAMFHTt38RMxLXJyO2SmS+Ndl72T7oKJ4u4uw+6awntALWh03PewmIJuzbALScsTS4sZoS1fKciBGoh11gIfHzylvkdNe/hJl66/RGqrj5rFb08sAABNTzDTiqqNpJeBsYs/c2aiGozptX2RlnBktH+SUNpAajW724Nv2Wvhif6sFAgMBAAGjge4wgeswHQYDVR0OBBYEFJaffLvGbxe9WT9S1wob7BDWZJRrMIG7BgNVHSMEgbMwgbCAFJaffLvGbxe9WT9S1wob7BDWZJRroYGUpIGRMIGOMQswCQYDVQQGEwJVUzELMAkGA1UECBMCQ0ExFjAUBgNVBAcTDU1vdW50YWluIFZpZXcxFDASBgNVBAoTC1BheVBhbCBJbmMuMRMwEQYDVQQLFApsaXZlX2NlcnRzMREwDwYDVQQDFAhsaXZlX2FwaTEcMBoGCSqGSIb3DQEJARYNcmVAcGF5cGFsLmNvbYIBADAMBgNVHRMEBTADAQH/MA0GCSqGSIb3DQEBBQUAA4GBAIFfOlaagFrl71+jq6OKidbWFSE+Q4FqROvdgIONth+8kSK//Y/4ihuE4Ymvzn5ceE3S/iBSQQMjyvb+s2TWbQYDwcp129OPIbD9epdr4tJOUNiSojw7BHwYRiPh58S1xGlFgHFXwrEBb3dgNbMUa+u4qectsMAXpVHnD9wIyfmHMYIBmjCCAZYCAQEwgZQwgY4xCzAJBgNVBAYTAlVTMQswCQYDVQQIEwJDQTEWMBQGA1UEBxMNTW91bnRhaW4gVmlldzEUMBIGA1UEChMLUGF5UGFsIEluYy4xEzARBgNVBAsUCmxpdmVfY2VydHMxETAPBgNVBAMUCGxpdmVfYXBpMRwwGgYJKoZIhvcNAQkBFg1yZUBwYXlwYWwuY29tAgEAMAkGBSsOAwIaBQCgXTAYBgkqhkiG9w0BCQMxCwYJKoZIhvcNAQcBMBwGCSqGSIb3DQEJBTEPFw0xNjA1MjAxOTMxMDdaMCMGCSqGSIb3DQEJBDEWBBRzJAjpyaHpDGYOtBfV9NC4cT7hNTANBgkqhkiG9w0BAQEFAASBgE7pLfFNJduYSSzG6Vhkv9qHdgeriQlv3qk9WsOtZQ6EB9R+BWKM+cdSQnK/3rhIIKM/hJoLB5cxIQvxo5W3qUHgTw2xp5EytA/yW5cv/4xRmmJYKld1xsbN7jW0UXlihmXLjngtTfpYRGOoSrg0lIogajvXi6PL2qtkdQlPYSxx-----END PKCS7-----")
						input(type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!")
						img(alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1")
