md-tabs(layout-fill)
	md-tab(label="Overview")
		md-tab-body
			.padding-standard
				p For most adults, moderate alcohol use is probably not harmful. However, about 18 million adult Americans have an alcohol use disorder. This means that their drinking causes distress and harm. It includes alcoholism and alcohol abuse.

				p Alcoholism, or alcohol dependence, is a disease that causes

				ul
					li Craving - a strong need to drink
					li Loss of control - not being able to stop drinking once you've started
					li Physical dependence - withdrawal symptoms
					li Tolerance - the need to drink more alcohol to feel the same effect
				
				p With alcohol abuse, you are not physically dependent, but you still have a serious problem. The drinking may cause problems at home, work, or school. It may cause you to put yourself in dangerous situations, or lead to legal or social problems.

				p Another common problem is binge drinking. It is drinking about five or more drinks in two hours for men. For women, it is about four or more drinks in two hours.

				p Too much alcohol is dangerous. Heavy drinking can increase the risk of certain cancers. It can cause damage to the liver, brain, and other organs. Drinking during pregnancy can harm your baby. Alcohol also increases the risk of death from car crashes, injuries, homicide, and suicide.

	md-tab(label="Treatment")
		md-tab-body
			.padding-standard

				p Alcohol abuse is often a dual-diagnosis: there is some root cause behind the scenes that is causing you to drink in order to cope. Studies show that people who are alcohol dependent are two to three times as likely to suffer from major depression or anxiety over their lifetime. By understanding and treating the root cause, you can help reduce your abuse of alcohol.

				h3 Behavioral Treatments

				p Also known as alcohol counseling, behavioral treatments involve working with a health professional to identify and help change the behaviors that lead to heavy drinking. Behavioral treatments share certain features, which can include:
				ul
					li Developing the skills needed to stop or reduce drinking
					li Helping to build a strong social support system
					li Working to set reachable goals
					li Coping with or avoiding the triggers that might cause relapse
					li Types of Behavioral Treatments

				p 
					b Cognitive–Behavioral Therapy&nbsp;
					span can take place one-on-one with a therapist or in small groups. This form of therapy is focused on identifying the feelings and situations (called “cues”) that lead to heavy drinking and managing stress that can lead to relapse. The goal is to change the thought processes that lead to excessive drinking and to develop the skills necessary to cope with everyday situations that might trigger problem drinking.
				
				p 
					b Motivational Enhancement Therapy&nbsp;
					span is conducted over a short period of time to build and strengthen motivation to change drinking behavior. The therapy focuses on identifying the pros and cons of seeking treatment, forming a plan for making changes in one’s drinking, building confidence, and developing the skills needed to stick to the plan.

				p
					b Marital and Family Counseling&nbsp;
					span incorporates spouses and other family members in the treatment process and can play an important role in repairing and improving family relationships. Studies show that strong family support through family therapy increases the chances of maintaining abstinence (stopping drinking), compared with patients undergoing individual counseling.
				p
					b Brief Interventions&nbsp;
					span are short, one-on-one or small-group counseling sessions that are time limited. The counselor provides information about the individual’s drinking pattern and potential risks. After receiving personalized feedback, the counselor will work with the client to set goals and provide ideas for helping to make a change.

				p Ultimately, choosing to get treatment may be more important than the approach used, as long as the approach avoids heavy confrontation and incorporates empathy, motivational support, and a focus on changing drinking behavior.

				h3 The Importance of Persistence

				p Because an alcohol use disorder can be a chronic relapsing disease, persistence is key. It is rare that someone would go to treatment once and then never drink again. More often, people must repeatedly try to quit or cut back, experience recurrences, learn from them, and then keep trying. For many, continued followup with a treatment provider is critical to overcoming problem drinking.
				
				h3 Relapse Is Part of the Process

				p Relapse is common among people who overcome alcohol problems. People with drinking problems are most likely to relapse during periods of stress or when exposed to people or places associated with past drinking.

				p Just as some people with diabetes or asthma may have flare-ups of their disease, a relapse to drinking can be seen as a temporary set-back to full recovery and not a complete failure. Seeking professional help can prevent relapse — behavioral therapies can help people develop skills to avoid and overcome triggers, such as stress, that might lead to drinking. Most people benefit from regular checkups with a treatment provider. Medications also can deter drinking during times when individuals may be at greater risk of relapse (e.g., divorce, death of a family member).

	md-tab(label="Friends & Family")
		md-tab-body
			.padding-standard

				p Caring for a person who has problems with alcohol can be very stressful. It is important that as you try to help your loved one, you find a way to take care of yourself as well. It may help to seek support from others, including friends, family, community, and support groups. If you are developing your own symptoms of depression or anxiety, think about seeking professional help for yourself. Remember that your loved one is ultimately responsible for managing his or her illness.

				p
					b However, your participation can make a big difference.&nbsp;
					span Based on clinical experience, many health providers believe that support from friends and family members is important in overcoming alcohol problems. But friends and family may feel unsure about how best to provide the support needed. The groups for family and friends listed below under Resources may be a good starting point.

				p
					b Remember that changing deep habits is hard, takes time, and requires repeated efforts.&nbsp;
					span We usually experience failures along the way, learn from them, and then keep going. Alcohol use disorders are no different. Try to be patient with your loved one. Overcoming this disorder is not easy or quick.

				p
					b Pay attention to your loved one when he or she is doing better or simply making an effort.&nbsp;
					span Too often we are so angry or discouraged that we take it for granted when things are going better. A word of appreciation or acknowledgement of a success can go a long way.


	md-tab(label="Resources")
		md-tab-body
			.padding-standard
				h3 Emergency resources
				ul
					li Substance abuse and mental health services administration
						br
						md-button.md-raised(href="tel:800-662-4357")
							md-icon(md-svg-icon="/public/shared/img/icons/phone.svg")
							span 800-662-4357
						md-button.md-raised(target="_blank" href="http://www.samhsa.gov")
							md-icon(md-svg-icon="/public/shared/img/icons/web.svg")
							span www.samhsa.gov
					br
					li Poison Control
						br
						md-button.md-raised(href="tel:800-222-1222")
							md-icon(md-svg-icon="/public/shared/img/icons/phone.svg")
							span 800-222-1222
						md-button.md-raised(target="_blank" href="http://www.poison.org")
							md-icon(md-svg-icon="/public/shared/img/icons/web.svg")
							span www.poison.org
						br

				h3 Further resources
				ul
					li NIH: National Institute on Alcohol Abuse and Alcoholism
						br
						md-button.md-raised(target="_blank" href="https://www.nlm.nih.gov/medlineplus/alcoholismandalcoholabuse.html")
							md-icon(md-svg-icon="/public/shared/img/icons/web.svg")
							span nlm.nih.gov
						br
					br

					li National Institute on Alcohol Abuse and Alcoholism
						br
						md-button.md-raised(target="_blank" href="http://pubs.niaaa.nih.gov/publications/treatment/treatment.htm")
							md-icon(md-svg-icon="/public/shared/img/icons/web.svg")
							span niaaa.nih.gov
						br
					br
					li Alcoholics Anonymous
						br
						md-button.md-raised(target="_blank" href="http://www.aa.org")
							md-icon(md-svg-icon="/public/shared/img/icons/web.svg")
							span aa.org