md-tabs(layout-fill)
	md-tab(label="Overview")
		md-tab-body
			.padding-standard
				p YEEAHA

	md-tab(label="Friends & Family")
		md-tab-body
			.padding-standard
				p EYAEWHTWAET

	md-tab(label="Resources")
		md-tab-body
			.padding-standard
				p BOOPERWOOPER