md-tabs(layout-fill)
	md-tab(label="Overview")
		md-tab-body
			.padding-standard
				p Sexual assault is any sexual activity to which you haven't freely given your consent. This includes completed or attempted sex acts that are against your will. Sometimes it can involve a victim who is unable to consent. It also includes abusive sexual contact. It can happen to men, women or children.

				p The attacker can be anyone - a current or former partner, a family member, a person in position of power or trust, a friend, an acquaintance, or a stranger.

				p Sexual assault can affect your health in many ways. It can lead to long-term health and emotional problems. It is important to seek help if you have been assaulted. First, get to a safe place. Then dial 9-1-1 or go to a hospital for medical care. You may want to have counseling to deal with your feelings. The most important thing to know is that the assault was not your fault.

	md-tab(label="Immediately After")
		md-tab-body
			.padding-standard
				p 
					b If you are in danger or need medical care, call 9-1-1.&nbsp;
					p If you can, get away from the person who assaulted you and get to a safe place as fast as you can.

				p If you have been physically assaulted or raped, there are other important steps you can take right away:

				ul
					li 
						p
							b Save everything that might have the attacker's DNA on it.&nbsp;
							span As hard as it may be to not wash up, you might wash away important evidence if you do. Don't brush, comb, or clean any part of your body. Don't change clothes, if possible. Don't touch or change anything at the scene of the assault. That way the local police will have physical evidence from the person who assaulted you.
					li
						p
							b Go to your nearest hospital emergency room as soon as possible.&nbsp;
							span You need to be examined and treated for injuries. You can be given medicine to prevent HIV and other sexually transmitted infections (STIs) and emergency contraception to prevent pregnancy. The National Sexual Assault Hotline  at 800-656-HOPE (4673) can help you find a hospital able to collect evidence of sexual assault. Ask for a sexual assault forensic examiner (SAFE) . A doctor or nurse will use a rape kit to collect evidence. This might be fibers, hairs, saliva, semen, or clothing left behind by the attacker. 
								b You do not have to decide whether to press charges while at the hospital. 
							
							p If you think you were drugged, talk to the hospital staff about being tested for date rape drugs, such as Rohypnol and Gamma Hydroxybutyrate (GHB), and other drugs.
				
							p The hospital staff can also connect you with the local rape crisis center. Staff there can help you make choices about reporting the sexual assault and getting help through counseling and support groups.
					li
						p
							b Reach out for help. &nbsp;
							span Call a friend or family member you trust, or call a crisis center or hotline. Crisis centers and hotlines have trained volunteers and counselors who can help you find support and resources near you. One hotline is the National Sexual Assault Hotline  at 800-656-HOPE (4673). If you are in the military, you may also call the DoD Safe Helpline  at 877-995-5246.

					li
						p
							b Report the sexual assault to the police.&nbsp;
							span Call 911. If you want to talk to someone first about reporting the assault, you can also call the National Sexual Assault Hotline  at 800-656-HOPE (4673). A counselor can help you understand how to report the crime. Even though these calls are free, they may appear on your phone bill. If you think that the person who sexually assaulted you may check your phone bill, try to call from a friend's phone or a public phone.
					li
						p
							b Write down the details&nbsp;
							span about the person who sexually assaulted you and what happened.

	md-tab(label="Treatment")
		md-tab-body
			.padding-standard

				h3 Sexual Assault
				p After a sexual assault, you may feel fear, shame, guilt, or shock. These feelings are normal. But sexual assault is never your fault. It may be frightening to think about talking about the assault, but it is important to get help.

				p If you are younger than 18, tell a trusted adult about what happened. If you are an adult, consider talking to someone about getting help and reporting the person to the local authorities. You could talk to a counselor, the human resources department, or the local police.
				
				h3 Sexual Coercion

				p Not all sexual assault involves a physical attack. Sexual coercion is unwanted sexual activity that happens after someone is pressured, tricked, or forced in a nonphysical way.

				p Anyone can use coercion — for example, husbands, partners, boyfriends, friends, coworkers, bosses, or dates.

				p Sexual coercion is not your fault. If you are feeling pressured to do something you don't want to do, speak up or leave the situation. It is better to risk a relationship ending or hurting someone's feelings than to do something you aren't ready or willing to do. Some possible responses include:

				ul
					li "I do like you, but I'm not ready for sex."
					li "If you really care for me, you'll respect that I don't want to have sex."
					li "I don't owe you an explanation or anything at all."
				
				p Be clear and direct with the person coercing you. Tell him or her how you feel and what you do not want to do. If the other person is not listening to you, leave the situation. If you or your family is in physical danger, try to get away from the person as quickly as possible. Call 9-1-1 if you are in immediate danger.

	md-tab(label="Friends & Family")
		md-tab-body
			md-content
				.padding-standard
					p You can help a friend or family member who has been sexually assaulted by listening, offering comfort, and not judging. Reinforce the message that she or he is not at fault and that it is natural to feel angry, confused, or ashamed — or any combination of feelings.

					p Ask your loved one if she would like you to go with her to the hospital or to counseling. If she decides to report the crime to the police, ask if she would like you to go with her. Let her know that professional help is available. Let her know about the hotlines and resources available on this site. 

	md-tab(label="Resources")
		md-tab-body
			md-content
				h3 Emergency resources
				ul
					li RAINN (Rape, abuse, & incest national network)
						br
						md-button.md-raised(href="tel:800-656-4673")
							md-icon(md-svg-icon="/public/shared/img/icons/phone.svg")
							span 800-656-4673
						md-button.md-raised(target="_blank" href="http://www.rainn.org")
							md-icon(md-svg-icon="/public/shared/img/icons/web.svg")
							span www.rainn.org
						br

					li Sexual Assault Legal Hotline
						br
						md-button.md-raised(href="tel:888-325-7233")
							md-icon(md-svg-icon="/public/shared/img/icons/phone.svg")
							span 888-325-7233
						br
				h3 Further resources
				ul
					li Office on Women's Health, U.S. Department of Health and Human Services
						br
						md-button.md-raised(target="_blank" href="http://womenshealth.gov/publications/our-publications/fact-sheet/sexual-assault.html")
							md-icon(md-svg-icon="/public/shared/img/icons/web.svg")
							span womenshealth.gov
						br
					li National Institute of Health
						br
						md-button.md-raised(target="_blank" href="https://www.nlm.nih.gov/medlineplus/sexualassault.html#cat79")
							md-icon(md-svg-icon="/public/shared/img/icons/web.svg")
							span www.nlm.nih.gov
						br
					li Victim Information and Notification Everyday
						br
						md-button.md-raised(target="_blank" href="http://www.vinelink.com")
							md-icon(md-svg-icon="/public/shared/img/icons/web.svg")
							span www.vinelink.com
						br