md-tabs(layout-fill)
	md-tab(label="Overview")
		md-tab-body
			p We appear to be lacking content on this page. Do you have experience with {{vm.supportGroup.name}}? Would you be interested in submitting your own content?
			md-button.md-raised(ng-click="vm.moreInfo($event)") Find out more