nav.navbar.navbar-default.navbar-custom.navbar-fixed-top
  .container-fluid
    // Brand and toggle get grouped for better mobile display
    .navbar-header.page-scroll
      img.logo(src="/assets/img/logo.svg")
      button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
        span.sr-only Toggle navigation
        |                     Menu 
        i.fa.fa-bars
      a.navbar-brand(href='index.html') DFW Dive Yoga
    // Collect the nav links, forms, and other content for toggling
    #bs-example-navbar-collapse-1.collapse.navbar-collapse
      ul.nav.navbar-nav.navbar-right
        li
          a.primary(href='/') Home
        li
          a.primary(href='/newsletter') Newsletter
        li
          a.primary(href='/archive') Archive
        li
          a.primary(href='/popular') Popular
        li
          a.primary(href='/about') About