nav.navbar.navbar-default.navbar-custom.navbar-fixed-top
  .container-fluid
    // Brand and toggle get grouped for better mobile display
    .navbar-header.page-scroll
      img.logo(src="/assets/img/logo.svg")
      button.navbar-toggle(type='button', data-toggle='collapse', data-target='#navbar-right')
        span.sr-only Toggle navigation
        |                     Menu 
        i.fa.fa-bars
      a.navbar-brand(href='index.html') DFW Dive Yoga

    // Collect the nav links, forms, and other content for toggling
    #navbar-right.collapse.navbar-collapse
      ul.nav.navbar-nav.navbar-right
        li
          a(href='/') Home
        li
          a(href='/newsletter') Newsletter
        li
          a(href='/archive') Archive
        li
          a(href='/popular') Popular
        li
          a(href='/about') About
      ul.nav-eyebrow.nav.navbar-nav.navbar-right
        li
          a.primary(href="/") Signup
        li
          a.primary(href="/") Login

    //#navbar-left.collapse.navbar-collapse
      ul.nav.navbar-nav.navbar-left
        li
          a.primary(href="/") Signup
        li
          a.primary(href="/") Login