//ng-init="vm.sidenavLeft.setState()"
//, md-is-locked-open="vm.sidenavLeftOpen"
md-sidenav.md-sidenav-left.md-whiteframe-z2(layout='column' md-component-id='left')
	md-toolbar.md-tall.bg-white.less-tall
		div.md-toolbar-tools.inset 
			//img.img-banner.margin-top-md(src="public/shared/img/banner-teal.png")
			h1.sidenav-header wooted
	//-md-subheader Channels
	md-content
		test