$primary: #008e8c;

img.logo {
	max-width:28px;
	max-height:28px;
	margin-top: 14px;
}

.mw100 {
	max-width:100%;
}

.100 {
	width: 100%;
}

hr {
	padding-bottom:40px;
	border-top: 2px solid $primary !important;
}

.primary {
	color: $primary;
}