include ../mixins/toolbar.jade

.full-content(layout="column" ng-cloak flex)
	+toolbar("wooted")
	md-content.full-content(layout='row')
		div(layout='column')
			include ../partials/search-menu.jade
		div(layout='column' flex)
			md-content
				div(ng-show="!vm.items")
					br
					img.index-banner(src='/assets/client/img/woot.svg')
					h3.secondary.center The archives of all previous woot sales
					md-divider
					br
					.padding-standard Use the menu to the left to search all the items sold on woot so you know when to get the best deals.

				//-.padding-standard
					p Is there something you want to buy, but not <span class="secondary">too</span> bad? Have you tried looking around to find the lowest deal?

					p I ran into this issue when I need to buy a new phone. I got $400 nexus 5 from <a class="secondary" href="http://woot.com/">woot.com</a> just $75, but I cracked the screen. I wanted to get an iPhone so I could get an otterbox, but I wasn't sure when iPhone's were last sold on woot, and I didn't know if I'd even save money by waiting for the next sale. 
				p.padding-standard(ng-show="vm.items.length === 0") 
					span No items found for the search 
					span.secondary "{{vm.itemName}}"
					span .
				
				md-list#item-list(ng-show="vm.items.length > 0")
					md-list-item.md-2-line(ng-click="vm.selectItem(item)" ng-repeat="item in vm.items")
						img.item-img(bind-src="{{item.image}}")
						.md-list-item-text
							p.padding-standard {{item.name}}
						//<p>Secondary text</p>
						md-divider

				//-md-table-container(ng-show="vm.items.length > 0")
					table(md-table md-row-select multiple ng-model="vm.items" md-progress="promise")
						thead(md-head md-order="query.order" md-on-reorder="getDesserts")
							tr(md-row)
								th(md-column) Photo
								th(md-column) Item name
								th(md-column) Times sold
								th(md-column) Last date sold
								th(md-column) Avg. price
						
							.md-divider

						tbody(md-body)
							tr(md-row md-select="dessert" md-select-id="name" md-auto-select ng-repeat="item in vm.items")
								td(md-cell) 
									img(bind-src="{{item.image}}")
								td(md-cell) {{item.name}}
								td(md-cell) {{item.timesSold}}
								td(md-cell) {{item.LastTimeSold}}
								td(md-cell) {{item.avgPrice}}

								.md-divider

				//-md-table-pagination(md-limit="query.limit" md-limit-options="[5, 10, 15]" md-page="query.page" md-total="{{desserts.count}}" md-on-paginate="getDesserts" md-page-select)