md-dialog(aria-label="Item details")
	md-toolbar
		.md-toolbar-tools
			h2 Item Details
			span(flex)
			md-button.md-icon-button(ng-click="close()")
				ng-md-icon(icon="close")

	md-dialog-content
		.padding-standard
			.center
				img(src="{{item.image}}")
			//img(bind-src="{{item.image}}")			
			h3.secondary {{item.name}}
			md-divider
			
			h4.primary Average Price
			div(ng-show="item.averagePrice")
				span $
				span {{item.averagePrice}} 
			p(ng-show="!item.averagePrice") Could not display average price.

			h4.primary Last Sold
			p(ng-bind="item.lastSold | date:'yyyy-MM-dd'") Could not display last sold date.
			
			br
			md-divider
			
			p(ng-show="!item.instances || item.instances.length === 0") Could not display sales.
			md-table-container(ng-show="item.instances.length > 0")
				table.center.full-width(md-table md-row-select multiple)
					thead(md-head)
						tr(md-row)
							th.primary(md-column) Date
							th.primary(md-column) Price

					tbody(md-body)
						tr(md-row ng-repeat="instance in item.instances")
							td(md-cell ng-bind="instance.date | date:'yyyy-MM-dd'") {{instance.date}}
							td(md-cell) {{instance.price}}

	md-dialog-actions(layout="row")
		span(flex)
		md-button.md-primary.md-raised(ng-click="close()") Close			