md-dialog(aria-label="Emergency Lock Confirm")
	form(name="lockForm")
		md-toolbar
			.md-toolbar-tools
				h2 Emergency Lock
				span(flex)
				md-button.md-icon-button(ng-click="cancel()")
					md-icon.icon-white(md-svg-src="public/shared/img/icons/close.svg" aria-label="Close dialog")

		md-dialog-content.padding-standard
			p Clicking this button will emergency lock this site. If someone starts to creep over your shoulder, you can hit this button to block all access to ineedtotalk.org.&nbsp;
				b After emergency locking, ineedtotalk.org will be a shadow site for 1 hour. It will look like a language learning website instead:

			.center-wrapper
				img.mw100(src="/public/shared/img/shadow-site.png")

			p Would you like to lock your device now? 

		md-dialog-actions(layout="row")
			md-checkbox(ng-model="autoLock" aria-label="auto lock")
				p Never show this popup again.
			span(flex)
			md-button.md-primary.md-raised(ng-click="lock()") Lock Device
			md-button(ng-click="cancel()") Cancel