include ../../mixins/toolbar.jade

md-content.full-content(layout="column" flex)
	+toolbar("{{vm.selectedSupportGroup.name}}", "vm.sidenavRightButtonClicked()", "public/shared/img/icons/chat.svg")
	md-content(layout='row' flex)

		//-left side nav
		#left-side-nav(layout='column')
			include ../../partials/left-side-nav.jade
		
		//-messages
		md-content(layout="column" flex layout-fill)
			md-grid-list(md-cols="1" md-row-height="33vh")
				md-grid-tile.grid-tile-message-list(md-rowspan="2" is-scrolled-bottom="vm.isScrolledBottom")
						p.padding-standard(ng-show="vm.user.supportGroups.length === 0") You have not joined any support groups. You can use the menu to the right to join a support group.

						p.padding-standard(ng-show="vm.user.supportGroups.length !== 0 && vm.selectedMessages.length === 0") No messages to display.
						
						md-list#message-list
							md-list-item(ng-repeat="message in vm.selectedMessages" ng-hide="vm.user.blockedUsers.indexOf(message.sender._id) !== -1")
								div(ng-show="message.sender._id === vm.user._id" flex="15")
								md-card(flex="80")
									div(layout="row")
										img.md-avatar.shadow.raise.margin-left-sm(avatar-src="{{message.sender.avatar}}" ng-click="vm.goToProfile(message.sender)")
										h3 {{message.sender.username}}	
										md-icon.margin-left-sm(ng-click="vm.userOptions(message.sender, $event)" aria-label="User options" md-svg-src="public/shared/img/icons/arrow-down.svg")
									p(style="overflow:auto;") {{message.body}}
								div(ng-show="message.sender._id !== vm.user._id" flex="15")

							#bottom.md-list-item
				md-grid-tile
					message-box
					md-input-container.md-icon-float.md-icon-right.md-block
						textarea(placeholder="Message" ng-model="vm.message" ng-keypress="vm.keyPressed($event)" flex)
						md-icon.icon-primary(md-svg-src="public/shared/img/icons/send.svg" ng-click="vm.sendMessage()")

		//-right side nav
		div(layout='column')
			include ./partials/right-side-nav.jade