md-content
	form.padded-form(name="verifyForm")
		p Please enter your username and password to verify your account.

		br

		md-input-container.md-icon-float.md-block
			md-icon.icon-black(md-svg-src="public/shared/img/icons/person.svg")
			input(type="text" ng-model="vm.username" autocorrect="off" autocapitalize="none" placeholder="Username")
		
		md-input-container.md-icon-float.md-block
			md-icon.icon-black(md-svg-src="public/shared/img/icons/lock.svg")
			input(type="password" ng-model="vm.password" placeholder="Password" ng-keypress="vm.keyPressed($event)")
		
		md-input-container.md-block
			md-button.md-raised.md-primary.md-button-full-width(ng-disabled="vm.username.length < 1 || vm.password.length < 1" ng-click="vm.verify()") Verify email