include ../../mixins/toolbar.jade

.full-content(layout="column" ng-cloak flex)
	+toolbar("Edit Profile")
	div(layout='row')
		div(layout='column')
			include ../../partials/left-side-nav.jade
		div(layout='column' flex)
			md-content
				div
					input(id="avatar-photo" type="file" fileread="vm.avatarPhoto")
					//div(cover-src="{{vm.coverPhoto}}" cover-offset-x="{{vm.coverOffsetX}}" cover-offset-y="{{vm.coverOffsetY}}" background-size="{{vm.backgroundSize}}" ng-mousemove="vm.coverMoved($event)" ng-mousedown="vm.coverMouseDown($event)" ng-mouseup="vm.coverMouseUp()" ng-class="{'grab-cursor': vm.coverEdit && !vm.coverMoving, 'grabbing-cursor': vm.coverEdit && vm.coverMoving}")
						//input(id="cover-photo" type="file" fileread="vm.coverPhoto")
						
						md-fab-toolbar(md-open="vm.coverEditOpen" md-direction="right")
							md-fab-trigger.align-with-text
								md-button.md-fab.md-accent(aria-label="menu")
									md-icon.icon-white(md-svg-src="public/shared/img/icons/more-vert.svg")
							md-toolbar
								md-fab-actions.md-toolbar-tools
									md-button.md-icon-button(aria-label="upload cover photo" ng-click="vm.clickCoverButton()")
										md-icon.icon-white(md-svg-src="public/shared/img/icons/photo.svg")
									md-button.md-icon-button(aria-label="label" ng-click="vm.coverEditToggled()")
										md-icon.icon-white(md-svg-src="public/shared/img/icons/edit.svg")
						#edit-overlay(ng-class="{'hide-down': !vm.coverEdit, 'show-up': vm.coverEdit}")
							//-md-button.shadow.background-primary.md-icon-button(ng-click="vm.coverZoomOut()" ng-disabled="vm.backgroundSize - vm.zoomInc < vm.minZoom" ng-class="{'raise': vm.backgroundSize - vm.zoomInc > vm.minZoom}" aria-label="zoom out")
								md-icon.icon-white(md-svg-icon="public/shared/img/icons/zoom-out.svg")
							
							//-md-button.shadow.background-primary.md-icon-button(ng-click="vm.coverZoomIn()" ng-disabled="vm.backgroundSize + vm.zoomInc > vm.maxZoom" ng-class="{'raise': vm.backgroundSize + vm.zoomInc < vm.maxZoom}" aria-label="zoom in")
								md-icon.icon-white(md-svg-icon="public/shared/img/icons/zoom-in.svg")
							
							md-button.shadow.raise.background-secondary.md-icon-button(aria-label="Stop Editing" ng-click="vm.coverEditToggled()")
								md-icon.icon-white(md-svg-icon="public/shared/img/icons/close.svg")
						

					.shadow.no-animate.chat-bubble-sent(style=" margin: 40px;")
						.chat-banner(layout="row" style="height: 100px;")
							img.md-avatar.shadow.raise(avatar-src="{{vm.avatarPhoto}}" ng-click="vm.clickAvatarButton()" style="margin: 10px 5px; height: 80px; width: 80px;")
							b.chat-name {{vm.user.username}}	
						p.chat-message(style="overflow:auto;") Message preview. Click the avatar to upload a photo.

					//.header-block
						.overlay-container
							img.md-avatar.shadow.raise(avatar-src="{{vm.avatarPhoto}}" onclick="document.getElementById('avatar-photo').click()")
							.overlay-center-wrapper
								img.overlay-add-photo.icon-primary(src="public/shared/img/icons/camera.svg" ng-click="vm.clickAvatarButton()")

				form.padded-form(name="editForm")
					h3 Account Details
					
					md-input-container.md-block
						md-icon.icon-black(md-svg-src="public/shared/img/icons/date.svg")
						input(required type="datetime" name="timeCreated" placeholder="Created on" ng-disabled="true"  value ="{{vm.user.timeCreated | date:\"MM/dd/yyyy 'at' h:mma\"}}")

					md-input-container.md-icon-float.md-block
						md-icon.icon-black(md-svg-src="public/shared/img/icons/email.svg")
						input(required type="text" name="email" ng-model="vm.user.email" placeholder="Email Address" ng-disabled="true" ng-pattern="/^.+@.+\..+$/")

					md-input-container.md-block
						md-icon.icon-black(md-svg-src="public/shared/img/icons/person.svg")
						input(required type="text" name="username" ng-model="vm.user.username" placeholder="Username" ng-disabled="true")

					.md-block(layout="row")
						md-input-container(flex layout-fill)
							md-icon.icon-black(md-svg-src="public/shared/img/icons/lock.svg")
							input(type="password" name="password" value="lolWeActuallyDon'tStorePasswords" ng-disabled="true")
						md-button.md-primary(flex ng-click="vm.updatePassword($event)") Update

					md-checkbox.md-block(ng-model="vm.profanityFilter" aria-label="profanity-filter")
						p Use profanity filter

					h3 Blocked users

					p(ng-show="!vm.user.blockedUsers || vm.user.blockedUsers.length === 0") You have not blocked any users.	

					md-list
						md-list-item(ng-repeat="user in vm.user.blockedUsers") 
							p {{user.username}}
							md-icon.icon-black(ng-click="vm.unblockUser(user, $event)" aria-label="Remove from block list" md-svg-src="public/shared/img/icons/delete.svg")
							md-divider

					h3 Profile

					.text-angular-holder
						text-angular-toolbar(name="toolbar" ta-toolbar-group-class="toolbar-button-group" ta-toolbar-button-class="md-button toolbar-button" ta-toolbar-button-active-class="toolbar-button-active" ta-toolbar="[['h1','h2','h3', 'p'],['bold','italics', 'underline'], ['ul', 'ol'], ['justifyLeft', 'justifyCenter', 'justifyRight']]")
						text-angular(ng-model="vm.content" ta-target-toolbars="toolbar")

					//-md-card
						#edit-toolbar(flex)
							md-button.md-icon-button.toolbar-button.shadow.raise(aria-label="bold" data-wysihtml5-command="bold")
								md-icon.icon-white(md-svg-src="public/shared/img/icons/format-bold.svg")

							md-button.md-icon-button.toolbar-button.shadow.raise(aria-label="italic" data-wysihtml5-command="italic")
								md-icon.icon-white(md-svg-src="public/shared/img/icons/format-italic.svg")
							
							md-button.md-icon-button.toolbar-button.shadow.raise(aria-label="underline" data-wysihtml5-command="underline")
								md-icon.icon-white(md-svg-src="public/shared/img/icons/format-underline.svg")

							md-input-container
								label Size
								md-select(ng-model="vm.fontType")
									md-option
										md-button(data-wysihtml5-command="formatBlock" data-wysihtml5-command-value="h1" value="Title") Title
							
									md-option(data-wysihtml5-command="formatBlock" data-wysihtml5-command-value="p" value="Normal") Normal
							
							md-button(data-wysihtml5-command="formatBlock" data-wysihtml5-command-value="h1") H1
							md-button(data-wysihtml5-command="formatBlock" data-wysihtml5-command-value="p") P

							md-button.md-icon-button.toolbar-button.shadow.raise(aria-label="Left align" data-wysihtml5-command="justifyLeft" unselectable="on")
								md-icon.icon-white(md-svg-src="public/shared/img/icons/align-left.svg")

							md-button.md-icon-button.toolbar-button.shadow.raise(aria-label="Center align" data-wysihtml5-command="justifyCenter" unselectable="on")
								md-icon.icon-white(md-svg-src="public/shared/img/icons/align-center.svg")

							md-button.md-icon-button.toolbar-button.shadow.raise(aria-label="Right align" data-wysihtml5-command="justifyRight" unselectable="on")
								md-icon.icon-white(md-svg-src="public/shared/img/icons/align-right.svg")

							md-button.md-icon-button.toolbar-button.shadow.raise(aria-label="Numbered list" data-wysihtml5-command="insertOrderedList")
								md-icon.icon-white(md-svg-src="public/shared/img/icons/list-number.svg")

							md-button.md-icon-button.toolbar-button.shadow.raise(aria-label="Unordered list" data-wysihtml5-command="insertUnorderedList")
								md-icon.icon-white(md-svg-src="public/shared/img/icons/list-bullet.svg")


						md-input-container.md-block
							textarea#editor(ng-model="vm.content" flex style="height:250px;")
					

					//-div(class="ck-holder")
						div(ckeditor="vm.options" ng-model="vm.content" ready="vm.ckReady()")
					br
				
					md-button#user-edit-save.md-primary.md-raised(ng-click="vm.save()") Save
					//-md-button.md-primary.md-raised(ng-click="vm.getPhotos()") Get Photos
					//-md-button.md-raised(ng-click="vm.goBack()") Cancel
