include ../mixins/toolbar.jade

.full-content(layout="column" flex)
	+toolbar("ineedtotalk.org")
	div(layout='row')
		div(layout='column')
			include ../partials/left-side-nav.jade
		div(layout='column' flex)
			md-content

			p.padding-standard Oh. Well this is awkward. We couldn't find the web page you are looking for. I guess you could hit the back button, or this other big button to return to the home page.

			md-button.md-raised(ui-sref="index") Return to home page