//-none of this works and it's very frustrating
//-block vars
	- var pageTitle = 'GET FUCKED'
//include ../mixins/settings.jade
//+settings('set', 'YEEEEAH')
//- var pageTitle = "YEEAH"
//- locals['pageTitle'] = "MOOOO"
//p pageTitle is #{pageTitle}

include ../mixins/toolbar.jade

.full-content(layout="column" ng-cloak flex)
	+toolbar("ineedtotalk.org")
	div(layout='row')
		div(layout='column')
			include ../partials/left-side-nav.jade
		div(layout='column' flex)
			md-content
				.intt-banner(ng-class="{'load': vm.isLoaded}")
					img(src="/public/shared/img/banner.png" style="max-width: 100%;")
					//img(src="/public/shared/img/sunrise.jpg" style="max-width: 100%;")

				section
					//.padding-standard
						p woop
						p woop
						p woop
						p woop
						p woop
						p woop
						p woop
						p woop
						p woop
						p woop
						p woop
						p woop
						p woop
						p woop
						p woop
						p woop
						p woop
						//md-button(ng-click="vm.startLoading()") start loading
						//md-button(ng-click="vm.stopLoading()") stop loading

				section
					// height:100px; width: 100%; position: static; bottom: 0px;
					footer(flex="none" style="background-color:#f00;")
						p Dis my foot
	//-#lock-fab-holder
		md-button.md-fab(aria-label="Emergency Lock" ng-click="vm.elock.lock()")
			md-icon.icon-white(md-svg-src="public/shared/img/icons/lock.svg")			