md-sidenav.md-sidenav-left.md-whiteframe-z2(layout='column', md-component-id='left', md-is-locked-open="vm.sidenavLeftOpen" ng-init="vm.sidenavLeft.setState()")
	md-toolbar.md-tall.bg-white.less-tall
		div(class="md-toolbar-tools inset") 
			img.img-banner.margin-top-md(src="public/shared/img/banner-teal.png")
			h1.sidenav-header ineedtotalk.org
	//-md-subheader Channels
	md-content
		//list if you logged in
		md-list(ng-show="vm.sidenavLeft.isLoggedIn()")
			md-list-item(ng-click="vm.sidenavLeft.goToHome()")
				md-icon.icon-primary(md-svg-src="public/shared/img/icons/home.svg")
				p Home
			md-list-item(ng-click="vm.sidenavLeft.goToSupportGroups()") 
				md-icon.icon-primary(md-svg-src="public/shared/img/icons/group.svg")
				p Support Groups
			md-list-item(ng-click="vm.sidenavLeft.goToMessages()") 
				md-icon.icon-primary(md-svg-src="public/shared/img/icons/chat.svg")
				p Messages
			md-list-item(ng-click="vm.sidenavLeft.goToProfile()") 
				md-icon.icon-primary(md-svg-src="public/shared/img/icons/person.svg")
				p Profile
			
			md-divider
			
			md-list-item(ng-click="vm.sidenavLeft.goToFeedback()") 
				md-icon.icon-primary(md-svg-src="public/shared/img/icons/assessment.svg")
				p Feedback
			md-list-item(ng-click="vm.sidenavLeft.goToDedication()") 
				md-icon.icon-primary(md-svg-src="public/shared/img/icons/fitness-center.svg")
				p Dedications
			md-list-item(ng-click="vm.sidenavLeft.goToDonate()") 
				md-icon.icon-primary(md-svg-src="public/shared/img/icons/credit-card.svg")
				p Donate
			md-list-item(ng-click="vm.sidenavLeft.goToAbout()") 
				md-icon.icon-primary(md-svg-src="public/shared/img/icons/info-outline.svg")
				p About
			md-list-item(ng-click="vm.sidenavLeft.goToContact()") 
				md-icon.icon-primary(md-svg-src="public/shared/img/icons/business.svg")
				p Contact & Credits
			
			md-divider
			
			md-list-item(ng-click="vm.sidenavLeft.goToEdit()") 
				md-icon.icon-primary(md-svg-src="public/shared/img/icons/person-pin.svg")
				p Manage Account
			md-list-item(ng-click="vm.sidenavLeft.logout()") 
				md-icon.icon-primary(md-svg-src="public/shared/img/icons/security.svg")
				p Logout

		//list if you not logged in
		md-list(ng-show="!vm.sidenavLeft.isLoggedIn()")
			md-list-item(ng-click="vm.sidenavLeft.goToHome()")
				md-icon.icon-primary(md-svg-src="public/shared/img/icons/home.svg")
				p Home
			md-list-item(ng-click="vm.sidenavLeft.goToSupportGroups()") 
				md-icon.icon-primary(md-svg-src="public/shared/img/icons/group.svg")
				p Support Groups
			md-list-item(ng-click="vm.sidenavLeft.goToAbout()") 
				md-icon.icon-primary(md-svg-src="public/shared/img/icons/info-outline.svg")
				p About
			md-list-item(ng-click="vm.sidenavLeft.goToDedication()") 
				md-icon.icon-primary(md-svg-src="public/shared/img/icons/fitness-center.svg")
				p Dedications
			md-list-item(ng-click="vm.sidenavLeft.goToDonate()") 
				md-icon.icon-primary(md-svg-src="public/shared/img/icons/credit-card.svg")
				p Donate
			md-list-item(ng-click="vm.sidenavLeft.goToContact()") 
				md-icon.icon-primary(md-svg-src="public/shared/img/icons/business.svg")
				p Contact & Credits
			
			md-divider
			
			md-list-item(ng-click="vm.sidenavLeft.goToLogin()") 
				md-icon.icon-primary(md-svg-src="public/shared/img/icons/security.svg")
				p Login
			md-list-item(ng-click="vm.sidenavLeft.goToUserCreate()") 
				md-icon.icon-primary(md-svg-src="public/shared/img/icons/person-add.svg")
				p Create an account
		//-md-subheader Join Channel
		//-md-divider