//div
//-#test-nonce
//-for ngRoute
//-div(ng-view)
//-for ui.router

extends layout
//-div GET FUCKED
ui-view(style="overflow:hidden;" ng-controller="app-control")

script(src='/lib/socket.io-client/socket.io.js')
//script(src='/lib/angular/angular.js')
//-script(nonce="#{locals['nonce']}" src='/lib/angular/angular.js')
//-script(nonce="#{locals['nonce']}") document.getElementById('test-nonce').innerHTML=new Date().toLocaleTimeString();

script(src='/lib/angular-ui-router/release/angular-ui-router.min.js')
//-script(src='/lib/angular-route/angular-route.js')

script(src='/lib/angular-animate/angular-animate.js')
script(src='/lib/angular-aria/angular-aria.js')
script(src='/lib/angular-material/angular-material.js')
//-script(nonce="#{locals['nonce']}" src='/lib/angular-material/angular-material.js')
script(src='/lib/angular-messages/angular-messages.min.js')
//-script(src='/lib/angular-bootstrap/ui-bootstrap.js')
script(src='/lib/angular-truncate/src/truncate.js')

script(src='/lib/ng-img-crop/compile/minified/ng-img-crop.js')

//-script(nonce="#{locals['nonce']}" src='/lib/ckeditor/ckeditor.js')
//-script(src='/lib/angular-ckeditor/angular-ckeditor.js')
//-script(src='/lib/wysihtml/dist/wysihtml-toolbar.min.js')
//-script(src='/lib/wysihtml/parser_rules/advanced_and_extended.js')
script(src='/lib/textAngular/dist/textAngular-rangy.min.js')
script(src='/lib/textAngular/dist/textAngular-sanitize.min.js')
script(src='/lib/textAngular/dist/textAngular.min.js')

script(src='public/client/app/socket.load.js')
script(src='/public/client/app/app.module.js')
script(src='/public/client/app/app.filters.js')
script(src='/public/client/app/app.directives.js')
script(src='/public/client/app/app.controller.js')

//-services
script(src='/public/client/app/services/services.module.js')
script(src='/public/client/app/services/communication.service.js')
script(src='/public/client/app/services/sidenav-left.service.js')
script(src='/public/client/app/services/elock.service.js')

//-factories
script(src='/public/client/app/factories/factories.module.js')
script(src='/public/client/app/factories/config.factory.js')

//-Individual Controllers
//-donate
script(src='/public/client/app/components/donate/donate.module.js')
//-script(src='/public/client/app/components/donate/donate.service.js')
script(src='/public/client/app/components/donate/donate-detail.controller.js')

//-dedication
script(src='/public/client/app/components/dedication/dedication.module.js')
script(src='/public/client/app/components/dedication/dedication.service.js')
script(src='/public/client/app/components/dedication/dedication-create.controller.js')

//-error
script(src='/public/client/app/components/error/error.module.js')
script(src='/public/client/app/components/error/error-404.controller.js')

//-feedback
script(src='/public/client/app/components/feedback/feedback.module.js')
script(src='/public/client/app/components/feedback/feedback.service.js')
script(src='/public/client/app/components/feedback/feedback-submit.controller.js')

//-information
script(src='/public/client/app/components/information/information.module.js')
script(src='/public/client/app/components/information/about-detail.controller.js')
script(src='/public/client/app/components/information/contact-detail.controller.js')

//-message
script(src='/public/client/app/components/message/message.module.js')
script(src='/public/client/app/components/message/message.service.js')
script(src='/public/client/app/components/message/message-list.controller.js')

//-support-group
script(src='/public/client/app/components/support-group/support-group.module.js')
script(src='/public/client/app/components/support-group/support-group.service.js')
script(src='/public/client/app/components/support-group/support-group-list.controller.js')
script(src='/public/client/app/components/support-group/support-group-detail.controller.js')

//-user
script(src='/public/client/app/components/user/user.module.js')
script(src='/public/client/app/components/user/user.service.js')
script(src='/public/client/app/components/user/user.routes.js')
script(src='/public/client/app/components/user/user-create.controller.js')
script(src='/public/client/app/components/user/user-detail.controller.js')
script(src='/public/client/app/components/user/user-edit.controller.js')
script(src='/public/client/app/components/user/user-login.controller.js')
script(src='/public/client/app/components/user/user-verify.controller.js')

script(src='/public/client/app/index.controller.js')

//-End Individual Controllers
script(src='/public/client/app/i-need-to-talk.js')