//-doctype html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd"
//-doctype html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd"
doctype html

// xmlns="http://www.w3.org/1999/xhtml" xml:lang="en")
html(ng-app="wooted" ng-csp ng-controller="app-control as rvm")
	block vars
	head
		base(href='/')
		meta(charset='utf8')
		//title(update-title) ineedtotalk.org
		title Previous woot sales and prices | wooted.com
		//meta(name="description" content="{{rvm.seo.description}}")
		//meta(name="keywords" content="{{rvm.seo.keywords}}")

		//-SEO
		meta(name="author" content="Reid Mulkey <reid@ineedtotalk.org>")
		//-meta(name="subject" content="Free, Online Peer Support Groups for Depression, Anxiety, ...")
		//-meta(name="description" content="Free, Online Peer Support Groups for Depression, Anxiety, Sexual Assault, Domestic Violence...")
		//-meta(name="keywords" content="Free, Peer Support Groups, Depression, Anxiety, Help, Recovery, Domestic Vilence, Sexual Assault, Bipolar, Schizophrenia")
		
		//-Google Specific
		meta(name="googlebot" content="index,follow")
		//-All Search Engines
		meta(name="robots" content="index,follow")

		meta(name="application-name" content="Wooted")
		meta(name="url" content="http://wooted.com/")
		meta(name="rating" content="General")
		meta(name="fragment" content="!")
	
		//-mobile site configuration
		link(rel="shortcut icon" href="/assets/client/img/favicon.ico")
		link(rel="apple-touch-icon-precomposed" href="/assets/client/img/logo.png")
		meta(name="HandheldFriendly" content="true")
		meta(name="apple-mobile-web-app-capable" content="yes")
		meta(name="apple-mobile-web-app-status-bar-style" content="default")
		meta(name="viewport" content = "width = device-width, initial-scale = 1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable = no")
		//-meta(name="viewport" content = "width = device-width, initial-scale = 2.3, minimum-scale = 1, maximum-scale = 5")


		link(rel='stylesheet', href='/assets/client/css/app.css')
		link(rel='stylesheet', href='/assets/client/css/lib.css')
		
	body
		ui-view(style="overflow:hidden;")

		script(src='/assets/client/js/lib.js')
		script(src='/assets/client/js/app.js')