md-dialog(aria-label="Content Submission")
	form(name="forgotForm")
		md-toolbar
			.md-toolbar-tools
				h2 Content Submission
				span(flex)
				md-button.md-icon-button(ng-click="close()")
					md-icon.icon-white(md-svg-src="public/shared/img/icons/close.svg" aria-label="Close dialog")

		md-dialog-content
			p Thank you for your interest in expanding the content of ineedtotalk.org! There are 4 sections to each support group page:

			ul
				li
					b Overview -&nbsp;
					span An summary of the problem and the sticking points typically encountered

				li
					b Treatment -&nbsp;
					span Ways you have found to overcome the problem

				li
					b Friends & Family -&nbsp;
					span Advice for the friends and family members of those who are in need of the support

				li
					b Resources -&nbsp;
					span Any further resources you have for the support group, emergency or otherwise

			p In order to submit content, please send an email to&nbsp;
				b development@ineedtotalk.org&nbsp;
				span with the subject line&nbsp;
				b "Content Submission - {{supportGroup.name}}".&nbsp;
				span Feel free to write on any section you feel comfortable in.
			p For submitting content, we will include a link to your profile on the support group page (unless you specify otherwise).

		md-dialog-actions(layout="row")
			
			span(flex)
			md-button.md-primary.md-raised(ng-click="close()") Close			