md-sidenav.md-sidenav-right.md-whiteframe-z2(layout='column' md-component-id='right' style="overflow-x:hidden;")
	//-(ng-style="{'background-image': 'url(\"{{vm.selectedSupportGroup.photo}}\")'}")
	md-toolbar.md-tall.message-list-nav-banner
		//-div.md-toolbar-tools.inset
			h1.sidenav-header Messages
	md-subheader Support Groups
	.padding-standard(ng-show="vm.user.supportGroups.length === 0") 
		p You have not joined any support groups. You can select the "Support Groups" option from the menu to the left, or click the button below.
		md-button.md-raised.no-margin(ui-sref="support-group-list") Go to support groups

	md-list
		md-list-item(ng-click="vm.selectSupportGroup(supportGroup)" ng-class="{'md-raised md-primary': supportGroup.name === vm.selectedSupportGroup.name}" ng-repeat="supportGroup in vm.user.supportGroups") 
			span.shadow.badge(ng-show="supportGroup.unreadMessages > 0") {{supportGroup.unreadMessages < 20 ? supportGroup.unreadMessages: '20+'}}
			p {{supportGroup.name}}
			md-icon.icon-black(ng-click="vm.leaveSupportGroup(supportGroup, $event)" aria-label="Leave Support Group" md-svg-src="public/shared/img/icons/delete.svg")
	md-divider
	//-md-input-container.md-icon-float.md-icon-right.md-block
		input(ng-model="vm.supportGroupName" placeholder="Support group name..." flex)
		md-button.full-width.icon-black(ng-click="vm.joinSupportGroup()") Join
		//-md-icon(md-svg-src="public/shared/img/icons/send.svg" ng-click="vm.joinSupportGroup()")