md-bottom-sheet.md-grid.md-has-header
	md-subheader User options

	.full-width
		md-button(style="display:none;") Distraction
		md-button(ng-click="vm.blockUser()") Block
		md-button(ng-click="vm.reportUser()") Report
		md-button.md-icon-button.bottom-sheet-close(aria-label="close" ng-click="vm.closeBottomSheet()")
			md-icon.icon-secondary(md-svg-src="public/shared/img/icons/close.svg")