.ni-1 {
	nav-index: 1;
}

/*from http://materialdesignblog.com/paypal-material-design-button-in-css-sass/*/
/* PayPal Logo */
.paypal-container {
	position: relative;
	width: 200px;
	height: 200px;
	left: 50%;
	top: 50%;
	margin-left: -100px;
	margin-top: -100px;
	box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1), 0px 1px 5px rgba(0, 0, 0, 0.1);
	border-radius: 10px;
	background: #fafafa;
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	cursor: pointer;
}
.paypal-container:after {
	content: "";
	position: absolute;
	width: 10px;
	height: 10px;
	left: 56px;
	bottom: 52.05px;
	background: #1934AB;
	-webkit-transform: skew(-10deg);
	transform: skew(-10deg);
}
.paypal-container:hover {
	box-shadow: 0px 15px 40px 5px rgba(0, 0, 0, 0.2), 0px 5px 10px rgba(0, 0, 0, 0.2);
}

.paypal {
	position: relative;
	display: block;
	width: 30px;
	height: 100px;
	left: 50%;
	top: 44px;
	margin-left: -55px;
	margin-top: -60px;
	background: rgba(0, 30, 162, 0.9);
	border-radius: 5px 0px 5px 5px;
	-webkit-transform: skew(-10deg) scaleY(1.15);
	transform: skew(-10deg) scaleY(1.15);
	-webkit-filter: drop-shadow(30px 20px 0px #009cde);
	filter: drop-shadow(30px 20px 0px #009cde);
}
.paypal:before {
	content: "";
	position: absolute;
	width: 0px;
	height: 0px;
	top: 65px;
	left: 30px;
	border-top: 2px solid rgba(0, 30, 162, 0.9);
	border-left: 2px solid rgba(0, 30, 162, 0.9);
	border-right: 4px solid transparent;
	border-bottom: 4px solid transparent;
}
.paypal:after {
	content: "";
	position: absolute;
	width: 60px;
	height: 65px;
	left: 29.5px;
	background: inherit;
	border-radius: 0px 40px 55px 0px;
}

/*elock*/

#lock-fab-holder {
	position: absolute;
	z-index: 999;
}

.fab-right {
	right: 20px;
}

.fab-bottom {
	bottom: 20px !important;
	transition: all .3s ease-in;
}

.fab-top {
	top: 80px !important;
	/*bottom: 75% !important;*/
	transition: all .3s ease-in;
}

.lock-hide {
	opacity: 0;
	height: 0px;
	width: 0px;
	transition: .5s ease-out;
	/*transition: opacity .5s ease-out;
	transition: height .5s ease-out;
	transition: width .5s ease-out;*/
}

.lock-show {
	opacity: 1;
	/*height: 50px;
	width: 50px;*/
	height: 72px;
	width: 68px;
	transition: .5s ease-out;

	/*transition: opacity .5s ease-in;
	transition: height .5s ease-in;
	transition: width .5s ease-in;*/
}

/*global*/

.white {
	color: #fff;
}

.bg-white {
	background-color: #fff !important;
}

.less-tall {
	min-height: 110px !important;
	max-height: 110px !important;
	height: 110px !important;
}

.sidenav-header {
	position: absolute;
	bottom: 0;
	left:0px; 
	padding-left:20px;
	color: rgb(0,151,167);
}

.margin-top-md {
	margin-top: 32px;
}

.margin-left-sm {
	margin-left: 5px;
}

.margin-no-horizontal {
	margin-left: 0px !important;
	margin-right: 0px !important;
}

/*ckeditor*/
/*retired*/
/*.cke_contents {
	height: 400px !important;
}

.cke_top {
	background-color: rgb(0,151,167) !important;
}

.ck-holder {
	box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
}
*/

/*message list*/
/*retired*/
/*.message-received {
	position: absolute;
	left: 0px;
}

.message-sent {
	position: absolute;
	right: 0px;
}

#message-card {
	width: 100vw;
}

.grid-tile-message-list {
	width 100vw;
}

.tb-spacer {
	height: 72px;
}
*/
.dc-bg {
	background-color: #eee;
}

.icon-dc{
	height: 80px;
	width: 80px;
}

.icon-dc svg {
	fill: #f00;
	/*fill: rgb(0,151,167);*/
}

.dc-overlay {
	/*position: relative;*/
}
.dc-center-wrapper {
	position: absolute; 
	left: 50%;
	/*top: 12.5px;*/
	top: 30%;
}

.dc-overlay .dc-holder {
	top: 4px;
	position: relative;
	text-align: center;
	left: -50%;
	opacity: 1.0;
	color: #f00;
	/*max-width: 80px;*/
	/*max-height: 80px;*/
	/*background-image: url('img/icons/edit-black.svg');*/
	/*transition: opacity .5s ease-out;*/
}

#message-list {
	padding-top: 0px;
	padding-bottom: 0px;
	height:100%; 
	width:100vw; 
	/*top: 80px;*/
	/*position: absolute;*/
	overflow-y:auto;
}

#message-box .md-bottom-sheet-backdrop {
	display: none;
}

.bottom-sheet-close {
	float:right; 
}

.badge {
	background-color: #E91E63;
	border-radius: 5px;
	color: #fff;
	padding-left: 13px;
	padding-right: 13px;
	margin-right: 5px;
}

#message-box {
	position: fixed;
	bottom: 0px;
	background-color: #fff;
	width: 100vw;
}

/*#message-box {
	position: fixed; 
	height:20vh; 
	overflow-y: scroll; 
	bottom: 0px; 
	width:100%;
}
*/

/*.no-break {
	overflow-wrap: break-word;
	word-wrap: break-word;

	-ms-word-break: break-all;
	word-break: break-word;

	-ms-hyphens: auto;
	-moz-hyphens: auto;
	-webkit-hyphens: auto;
	hyphens: auto;
	}*/

/*
//I give up. this is stupid.
.raise-secondary-buttons .md-secondary-container.md-icon-button:hover {
#channel-list > md-list-item button:hover {
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23) !important;
	background-color: #f00;
}	
*/

/*contact*/
.contact-table {
	width: 100%;
	text-align: left;
}

/*user-edit*/

.cropArea {
	background: #E4E4E4;
	overflow: hidden;
	width:500px;
	height:350px;
}

#edit-overlay {
	position: absolute;
	right: 0px;
}

.show-up {
	transition: 1s;
	top: 260px;
	opacity: 1.0;
}

.hide-down {
	transition: 1s;
	top: 305px;
	opacity: 0.0;
}


#cover-photo {
	display: none;
}

#avatar-photo {
	display: none;
}

#user-edit-save {
	margin-left: 0px;
	padding-left: 0px;
}

.overlay-container {
	position: relative;
}
.overlay-center-wrapper {
	position: absolute; 
	left: 50%;
	top: 12.5px;
}

/*.overlay-left-wrapper {
	position: absolute; 
	left: 0%;
}
*/

.overlay-test-wrapper {
	position: absolute;
	left: 50%;
	top: 0px;
	width: 100%;
	height: 100%;
}

.overlay-container .md-scrim {
	/*top: 4px;*/
	position: relative;
	left: -50%;
	height: 100%;
	width: 100%;
	/*display: none;*/
	/*opacity: 0.0;*/
	/*color: #f00;*/
	/*max-width: 40px;*/
	/*max-height: 40px;*/
	/*background-image: url('img/icons/edit-black.svg');*/
	/*transition: opacity .5s ease-out;*/
}

.overlay-container .overlay-add-photo {
	top: 4px;
	position: relative;
	left: -50%;
	/*display: none;*/
	opacity: 0.0;
	color: #f00;
	max-width: 40px;
	max-height: 40px;
	background-image: url('img/icons/edit-black.svg');
	transition: opacity .5s ease-out;
}

.overlay-container:hover .overlay-add-photo {
	/*display: block;*/
	opacity:1.0;
	transition: opacity .5s ease-in;
}

/*user-detail*/
.user-card {
	margin-left: 16px;
	margin-right: 16px;
	margin-top: 16px;
	border-radius: 15px;
}
.avatar-wrapper {
	border-radius: 15px 0px 0px 15px;
	background-color: #4DB6AC;
	margin: 0px;
	max-width: 130px;
	text-align: center;
}
.header-block {
	width:100%;
	height:100px;
	background-color: rgb(0,151,167) !important;
	text-align: center;
}

.header-block img {
	margin-top: -37.5px;
	height: 75px;
	width: 75px;
}

/*support-group-list*/
.sg-banner{
	background-size: 100%; 
	background-repeat: no-repeat; 
	padding: 30px;
}