include ../../mixins/toolbar.jade

.full-content
	+toolbar("{{vm.supportGroup.name}}")

	div(layout='row')
		include ../../partials/left-side-nav.jade
		
		.content-holder
			md-content.content
				.sg-banner(ng-style="{'background-image': 'url(' + vm.supportGroup.photo + ')'}")
					h1 {{vm.supportGroup.name}}
				.padding-standard
					p(ng-show="!vm.supportGroup.details || vm.supportGroup.details === ''") Resources have not been added for this support group yet.
					p(ng-bind-html="vm.supportGroup.details | html")
					md-button.md-raised.full-width(ng-click="vm.joinSupportGroup()") Join support group

				p test
				p test
				p test
				p test
				p test
				p test
				p test
				p test
				p test
				p test
				p test
				p test
				p test
				p test
				p test
				p test
				h4 test
				h3 test
				h2(style="background-color:#f00;") test