include ../../mixins/toolbar.jade

.full-content(layout="column" ng-cloak flex)
	+toolbar("Support Groups")
	div(layout='row')
		div(layout='column')
			include ../../partials/left-side-nav.jade
		div(layout='column' flex)
			md-content
				p(ng-show="vm.supportGroups.length === 0") There are no support groups available at this time.
				

				//md-grid-list(md-cols-xs="1" md-cols-sm="2" md-cols-md="4" md-row-height-xs="4:5" md-row-height="10:14" md-gutter="0px" md-gutter-gt-sm="10px")
				md-grid-list(md-cols-xs="1" md-cols-sm="2" md-cols-gt-sm="4" md-row-height="480px" ng-cloak)
					md-grid-tile(ng-repeat="supportGroup in vm.supportGroups")
						md-card.sgl-card
							.sgl-cover(sgl-cover-src="{{supportGroup.photo}}")
							
							.sgl-wrapper
								h2 {{supportGroup.name}}
								p {{supportGroup.info | characters: 80: true}}
							
							span(flex)
							.sgl-fab-holder
								md-button.md-fab.md-accent.raised.shadow(ng-click="vm.goToDetail(supportGroup)" aria-label="go to group")
									md-icon.icon-white(md-svg-src="public/shared/img/icons/arrow-forward.svg")